@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');

:root{
    --color-green:#50fa7b;
    --color-white: #ffffff;
    --color-purple: #7159c1
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
body {
    background-color: #282a36;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--color-white);
}
header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

.links-footer,
.links{
    text-align: center;
}
.links-footer a,
.links a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
}

.links-footer a:hover,
.links a:hover {
    color: var(--color-green);
    transition:  color 700ms;
}
.links-footer a {
    border-bottom: 1px solid var(--color-green);
}
#wrapper {
    text-align: center;
    padding: 32px;
}
#wrapper img {
    border-radius: 50%;
    border: 1px solid var(--color-green);
    margin-bottom: 32px;
    height: 300px;
}
#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 600;
}
#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}
#wrapper p {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 32px;
    font-size: 24px;
    line-height: 34px;
}
/*------------------cards---------------*/
.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.card-container img {
    width: 100%;
}
.card {
    background-color: var(--color-purple) ;
    max-width: 800px;
}
.card-content,
.card-info {
    padding:24px
}
.card-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card-price {
    background-color: var(--color-purple);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}